$ff: 'MyriadPro', sans-serif;
$fz: 25px;

body {
    color: #111;
    font-family: $ff;
    font-size: $fz;
    box-sizing: border-box;
    background-color: #fafafa;
}

.inner {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}