.currency {
    padding: 10px 20px 20px;
    margin-bottom: 30px;

    background-color: #eee;
    border-radius: 7px;
}
.currency__name {
    margin-bottom: 10px;
}
.currency-quote {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;

    margin-left: -40px;
}

.currency-quote__item {
    flex: 1 1 155px;
    max-width: 155px;
    min-width: 155px;
    display: inline-block;
    margin-left: 40px;
    margin-bottom: 10px;
    padding: 5px;


    font-size: 16px;
    background-color: #fff;
    border-radius: 4px;
}